.menu {
    border-radius: 100%;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgba(6, 6, 6, 0.6);
    z-index: 1000;
    padding: 10px;
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.menu a{
    font-size: 4em;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}