.App {
  text-align: center;
}
.container {
  display: flex;
}
img {
  position: relative;
  max-width: 100%;
}
.item {
  border: 1px solid gray;
  flex: 1;
  padding: 2em;
  position: relative;
  overflow: hidden;
}
.overlay{
  transition: bottom cubic-bezier(0.26, -0.1, 0.59, 1.2) 0.35s;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: white;
  position: absolute;
  bottom: -4em;
  padding-bottom: 2em;
  left: 0;
  width: 100%;
  opacity: 0;
}
.item:hover .overlay{
  opacity: 0.6;
  bottom: 0;
}
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
