html {
  background-color: rgb(34 34 34);
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.App {
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}
img {
  position: relative;
  max-width: 100%;
}
.cover {
  position: relative;
  overflow: hidden;
}
.overlay{
  text-align: center;
  transition: bottom linear 0.33s;
  font-size: 1em;
  color: white;
  background: black;
  position: absolute;
  bottom: -4em;
  left: 0;
  min-height: available;
  width: 100%;
  opacity: 0;
}
.cover:hover .overlay{
  opacity: 0.6;
  bottom: 0;
}